// логотип
.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
  &--dark {
    color: #000000;
  }
  &--light {
    color: #ffffff;
  }
}
