*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--background-color-1);
	font-family: 'Roboto', sans-serif;
}

.img {
	display: block;
	max-width: 100%;
	height: auto;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: var(--card-gap);
}

.grid-item {
	flex-basis: calc((100% - var(--card-gap) * (var(--grid-items) - 1)) / var(--grid-items));
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.section-tittle {
	color: var(--main-black-color);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 1.08px;
}