/* Особливості */
.benefits {
	padding-bottom: 0;
}

.benefits__item {
	min-width: 270px;
}

.benefits__block {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	margin-bottom: 30px;
	border-radius: 4px;

	background-color: var(--background-color-2);
}

.benefits__subtittle {
	color: var(--main-black-color);

	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.42px;
	text-transform: uppercase;

	margin-bottom: 10px;
}

.benefits__text {
	color: var(--text-color);

	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.42px;
}