/* Герой */
.hero {

	padding-top: 200px;
	padding-bottom: 200px;

	background-color: var(--background-color-4);
	background-image: linear-gradient(to right, #2f303a66, #2f303a66),
		url(../img/icons/hero/background-hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	text-align: center;

	@media screen and (min-width: 1200px) {
				max-width: 1600px;
		}
}

.tittle {
	width: 360px;
	margin-right: auto;
	margin-left: auto;

	color: var(--background-color-1);

	margin-bottom: 30px;

	font-size: 26px;
	font-weight: 900;
	line-height: 1.61;
	letter-spacing: 1.56px;
	text-transform: uppercase;

	@media screen and (max-width: 480px) {
max-width: 360px;
	}

	@media screen and (min-width: 1200px) {
			width: 696px;

			font-size: 44px;
			line-height: 1.36;
			letter-spacing: 2.64px;
		}
}

.button {
	display: block;
	margin-right: auto;
	margin-left: auto;

	color: var(--background-color-1);
	background-color: var(--accent-color);

	min-width: 200px;
	padding-top: 10px;
	padding-right: 24px;
	padding-bottom: 10px;
	padding-left: 24px;

	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

	font-size: 16px;
	font-weight: 700;
	line-height: 1.9;
	letter-spacing: 0.96px;
	cursor: pointer;
}